<!DOCTYPE html>
<html>
    <head>
        <link rel ="stylesheet" href = "./css/style.css">
        <body>
            {{>header}}
            <p>This site was created by usman and the data was taken from mapbox.com</p>
            <img class = 'portrait' src = "/img/pic.jpg">
            {{>footer}}
        </body>
    </head>
</html>