<!DOCTYPE html>
<html>
    <head>
        <link rel ="stylesheet" href = "/css/style.css">
        <script src = "/js/app.js"></script>
        <body>
           <div>
                {{>header}}
            <p>{{message}}</p>
           </div>
            {{>footer}}
            
        </body>
    </head>
</html>