<!DOCTYPE html>
<html>
    <head>
        <link rel ="stylesheet" href = "./css/style.css">
        <body>
            {{>header}}
            <h1>HELP</h1>
            <p>{{message}}</p>
            {{>footer}}
        </body>
    </head>
</html>