<!DOCTYPE html>
<html>
    <head>
        <link rel ="stylesheet" href = "/css/style.css">
        
        <body>
            <div class= "main-content">
                {{>header}}
                <p>use  this site to get your weather</p>
                <form>
                    <input placeholder="location">
                <button>Search</button>
                </form>
            </div>
            <p id='message-1'></p>
            <p id='message-2'></p>
            {{!-- <p>created by {{name}}</p> --}}
            {{>footer}}
            {{!-- <img src = "/img/pic.jpg"> --}}
            <script src = "/js/app.js"></script>
        </body>
    </head>
</html>